*, *::after, *::before {
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  text-align: left;
}

@font-face {
  font-family: 'LDC Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('~material-design-icons/iconfont/MaterialIcons-Regular.eot');
  src: local('LDC Material Icons'),
    local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('~material-design-icons/iconfont/MaterialIcons-Regular.woff2')
      format('woff2'),
    url('~material-design-icons/iconfont/MaterialIcons-Regular.woff')
      format('woff'),
    url('~material-design-icons/iconfont/MaterialIcons-Regular.ttf')
      format('truetype');
}

@import './styles/alertbar';
@import './styles/button';
@import './styles/checkbox';
@import './styles/col';
@import './styles/container';
@import './styles/dialog';
@import './styles/dialog-body';
@import './styles/dialog-footer';
@import './styles/dialog-header';
@import './styles/divider';
@import './styles/dropdown';
@import './styles/dropdown-menu';
@import './styles/dropdown-toggle';
@import './styles/form';
@import './styles/form-text';
@import './styles/icon';
@import './styles/input';
@import './styles/label';
@import './styles/link';
@import './styles/list';
@import './styles/list-item';
@import './styles/media';
@import './styles/nav';
@import './styles/nav-item';
@import './styles/navbar';
@import './styles/progress';
@import './styles/radio';
@import './styles/row';
@import './styles/select';
@import './styles/spinner';
@import './styles/text';
@import './styles/textarea';
@import './styles/view';
@import './styles/utilities';
