.ldc-icon {
  direction: ltr;
  display: inline-block;
  font-family: 'LDC Material Icons';
  font-feature-settings: 'liga';
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-rendering: optimizeLegibility;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
