@import './_vars';

.ldc-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: $grid-gutter / -2;
  margin-right: $grid-gutter / -2;

  &--no-gutters {
    margin-left: 0;
    margin-right: 0;

    > .ldc-col,
    > [class*="ldc-col-"] {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
